*.pyc
*.pyo
*.egg-info
dist
build
tmp
.tox
docs/_build

build.manifest
factory.manifest

venv/
.venv/
__pycache__

# Test outputs
.cache
.pipcache
.pytest_cache
__output__

# vim, mac os
*.sw*
.DS_Store
.*.un~

*.qgs~

# git

*.orig
.coverage

# Test log
docker-test.log

.local
.qgis-restart
.ipython

.idea/

/tests/data/liz
/tests/data/montpellier
/tests/unittests/qgis.db
/tests/data/private
/tests/qgis

*.bak
*.bak~

qgis.db

VERSION
