variables:
  FACTORY_PRODUCT_NAME: pyqgis-server
  FACTORY_PACKAGE_TYPE: application

stages:
- test
- build
- docker
- deploy
- release
- post_release

#-----------------
# Tests
#-----------------

.tests:
  image: ${REGISTRY_URL}/factory-ci-runner:qgis-${QGIS_FLAVOR}
  stage: test
  script:
    - source ~/.bashrc
    - make install install-tests
    - pip list -l
    - make test
  tags:
    - factory-plain
  variables:
    ASYNC_TEST_TIMEOUT: "20"

tests:
  extends: .tests
  resource_group: py_qgis_server_tests
  parallel:
    matrix:
    - QGIS_FLAVOR: ['ltr', 'release', '3.34']

#---------------
# Build
#---------------

build:
  image: ${REGISTRY_URL}/factory-ci-runner:factory-ci
  stage: build
  script:
    - source ~/.bashrc
    - make dist deliver
  environment:
    name: snap
  tags:
    - factory-plain
  only:
    refs:
      - tags
      - master
  except:
      - schedules
      - triggers


# Docker build
include: '/docker/.gitlab-ci.yml'

tickets:
  stage: post_release
  only:
    - tags
  needs:
    - "release:release"
    - "release:ltr"
  image:
    name: $REGISTRY_URI/infra/ci-tools:latest
  script:
    - create_ticket.py
  tags:
    - factory-plain

gitlab_release:
  stage: release
  rules:
      - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/'
        # Running only when the tag is like X.Y.Z
        when: always
      - when: never
  image:
    name: $REGISTRY_URI/infra/ci-tools:latest
  script:
    - gitlab_release
  tags:
    - factory-plain


monthly-release:
  stage: test
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: always
      allow_failure: false
    - when: manual
      allow_failure: true
  script:
    - >
      curl -v -i
      --header 'Content-Type:application/json'
      --header "PRIVATE-TOKEN: ${BOT_TOKEN}"
      --data '{
      "id":"'"${CI_PROJECT_ID}"'",
      "title":"New monthly release",
      "description":"New monthly bugfix release of QGIS",
      "labels":"qgis",
      "assignee_ids":[5]
      }'
      https://projects.3liz.org/api/v4/projects/${CI_PROJECT_ID}/issues
  tags:
    - factory-plain
